@mixin fill {
  display: flex;
  position: absolute;
  flex-flow: column;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  padding: 8px;
  box-sizing: border-box;
}

body > #root {
  @include fill;
}
