$madeon-red: #81595f; // from https://www.color-hex.com/color-palette/33863

@mixin sidebar-width {
  width: 30vmin;
  flex-shrink: 0;
}

.sidebar-width {
  @include sidebar-width();
}

.sidebar {
  background-color: $madeon-red;

  @include sidebar-width();

  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 1vmin;

  a {
    font-size: 3vmin;
    font-weight: bold;
    line-height: 3vmin;
    text-decoration: none;
    color: white;
    margin: 2vmin;
  }

  .current {
    background-color: white;
    color: $madeon-red;
  }
}
