* {
  box-sizing: border-box;
}

body > #root {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.ui.basic.segment {
  padding: 0;
}

.ui.segment.pushable {
  margin: 0;
  border: none;
  border-radius: 0;
}

.ui.button.github {
  padding: 0;
}
